/*Обнуление-----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	background-origin: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	background-color: #FAFAFA;
	font-size: 14px;
	color: #252B42;
	font-weight: 500;
	font-family: Montserrat;
}







/*Шрифты и контейнер------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}

._container{
	max-width: 1080px;
	padding: 0 15px;
	margin: 0 auto;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}







/*Шапка------------------------------------------------------------*/

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.header__contianer {
	display: flex;
	min-height: 104px;
	align-items: center;
}

@media (max-width: 479px){
	.header__contianer{
		min-height: 71px;
	}
}
.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: #252B42;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}

@media (max-width: 767px){
	.header__menu{
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px){
	.header__menu{
		margin: 0px 0px 0px 40px;
	}
}

.menu {
	padding-top: 5px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	margin-right:  21px;
}
.menu__item:last-child{
	margin-right: 0px;
}
.menu__link {
	font-size: 14px;
	color: #737373;
	font-weight: 600;
	line-height: 171%;
}

@media (max-width: 479px){
	.menu__link{
		font-size: 14px;
	}
}
@media (max-width: 434px){
	.menu__link{
		font-size: 16px;
	}
}

/*PAGE------------------------------------------------------------*/
.page{
	flex: 1 1 auto;
}
.page__main-block {}

.header-block {
	text-align: center;
	letter-spacing: 0.2px;	
}
.header-block__tittle {
	font-size: 40px;
	line-height: 142%;
	font-weight: 700px;
}
.header-block__tittle:not(:last-child){
	margin-bottom: 10px;
}
.header-block__subtittle {
	font-size: 14px;
	line-height: 143%;	
	color: #737373;	
}

.footer{}

/*MAIN-BLOCK------------------------------------------------------------*/
.main-block {
	position: relative;
}
.main-block__container {
	display: flex;
	align-items: center;
}

.main-block__body {
	padding: 184px 0px 191px 0;
	max-width: 400px;
	z-index: 2;
}

@media (max-width: 479px){
	.main-block__body{
		padding: 120px 0px 191px 0;
	}
}

.main-block__box > *:not(:last-child){
	margin: 0 0 35px 0;
}

.main-block__tittle {
	font-weight: 800;
	font-size: 58px;
	letter-spacing: 0.2px;
	line-height: 138%;
}


.main-block__subtittle {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #737373;
}


@media (max-width: 479px){
	.main-block__tittle{
		font-size: 42px;
	}
	.main-block__subtittle{
		font-size: 15px;
	}
}

.main-block-buttons {
	display: flex;
}

.main-block-buttons a:not(:last-child){
	margin: 0 10px 0 0;
}

@media (max-width: 437px){
	.main-block-buttons{
		flex-direction: column;	
	}

	.main-block-buttons a:not(:last-child){
		margin: 0 0px 10px 0;
	}
}
.main-block__button {
	background: #FF7B47;
	border-radius: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 36px;
	min-height: 48px;
	letter-spacing: 0.2px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
}
.main-block__button_border {
	background: none;
	border: 1px solid #0D5C63;
	color: #0D5C63;
}
.main-block__image {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
}

@media (max-width: 1300px){
	.main-block__image {
		background-position: right;
	}
}
@media (max-width: 1104px){
	.main-block__image{
		opacity: 0.5;
	}
	.main-block__subtittle{
		color: #3E3E3E;
	}
}


/*services------------------------------------------------------------*/

.page__services {
	position: relative;
	z-index: 2;
	margin-top: -111px;
}
.services {}
.services__container {}
.services__body {
	display: flex;
	margin: 0 -15px;
}
.services__column {
	flex: 1 1 33.333%;
	padding: 0 15px;
	display: flex;

}
.services__item {
	padding: 35px 40px;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background: white;
}

.services__item > *:not(:last-child){
	margin-bottom: 10px;
}
.item-service {}
.item-service__icon {}
.item-service__tittle {
	font-size: 24px;
	line-height: 133%;
	font-weight: bold;
}
.item-service__text {
	font-size: 14px;
	line-height: 143%;
	color: #737373;
}
.item-service_green {
	background: #0D5C63;
}

.item-service_green .item-service__tittle{
	color: white;
}
.item-service_green .item-service__text{
	color: white;
}

@media (max-width: 1004px){
	.services__body{
		flex-wrap: wrap;
	}
	.services__column{
		flex: 1 1 40%;
		display: flex;

	}

	.services__column:not(:last-child){
		margin-bottom: 30px;
	}
	.services__body .services__column:last-child{
		display: block;
	}
}

@media (max-width: 565px){
	.services__body{
		flex-wrap: wrap;
	}
	.services__column{
		flex: 1 1 100%;
		display: flex;

	}
	.services__item{
		width: 100%;
	}
	.item-service_green{
		width: 100%;
	}
	.services__body .services__column:last-child{
		display: flex;
	}
}


/*advanages------------------------------------------------------------*/

.page__advanages {
	padding: 80px 0;
	background-color: #FAFAFA;
}
.advanages {}
.advanages__container {}
._container {}
.advanages__header {
	margin-bottom: 50px;
}
.advanages__row {
	display: flex;
	margin: 0 -20.5px;
}
.advanages__col {
	flex: 0 1 25%;
	padding: 0 20.5px;
	display: flex;
}
.advanatges__item {
	padding: 30px 40px;
	background-color: white;
	text-align: center;
}
.advanatges__item > *:not(:last-child){
	margin-bottom: 10px;
}
.item-advantages {
}
.item-advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.item-advantages__tittle {
	font-size: 40px;
	line-height: 142%;
	font-weight: bold;
}
.item-advantages__subtittle {
	color: #737373;
	font-size: 16px;
	line-height: 158%;
	font-weight: bold;
}

@media (max-width: 977px){
	.advanages__row{
		flex-wrap: wrap;
	}
	.advanages__col{
		flex: 1 0 30%;
		display: block;
		margin-bottom: 40px;
	}
}

@media (max-width: 567px){
	.advanages__col{
		display: block;
		flex: 1 1 100%;
		margin-bottom: 40px;
	}
	.advanatges__item{
	}
}